<div class="title-home container mt-5 text-center">
    <h1>Document Quick Reference</h1>
    <p class="lead">A platform for your reference documents</p>
     <!-- small box -->
     <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>15</h3>

                        <p>Documents</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>

                    </div>
                    <a class="small-box-footer" [routerLink]="['/books']">More info<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>6<sup style="font-size: 20px"></sup></h3>

                        <p>Categories </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>

                    </div>
                    <a class="small-box-footer" [routerLink]="['/categories']">More info<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>24</h3>

                        <p>Guidelines</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>6</h3>

                        <p>Tickets</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-plug" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->

    </div>